.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects,
#contact {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.card-body {
  text-align: center;
  min-height: 208px;
}
